/* Estilos para la página de cotización */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    }
    
    header {
    background-color: #424141;
    color: #fff;
    padding: 20px;
    }
    
    h1 {
    margin: 0;
    }
    
    label {
    display: block;
    margin-bottom: 5px;
    }
    
    input[type="number"],
    select {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    input[readonly] {
    background-color: #eee;
    color: #555;
    }
    
    #btncalcular {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    }
    
    #btncalcular:hover {
    background-color: #0056b3;
    }
    
    section {
    padding: 20px;
    }
    
    hr {
    border: none;
    height: 1px;
    background-color: #eee;
    margin: 20px 0;
    }
    
    